@font-face {
  font-family: WorkSans-Bold;
  src: url(./assets/fonts/static/WorkSans-Bold.ttf);
}

@font-face {
  font-family: WorkSans-Regular;
  src: url(./assets/fonts/static/WorkSans-Regular.ttf);
}

@font-face {
  font-family: WorkSans-Semibold;
  src: url(./assets/fonts/static/WorkSans-SemiBold.ttf);
}

:root {
  font-family: WorkSans-Regular, WorkSans-Bold, WorkSans-Semibold;
  line-height: 1.5;
  font-weight: 400;

  background-color: hsl(275, 100%, 97%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --White: hsl(0, 0%, 100%);
  --Light_pink: hsl(275, 100%, 97%);
  --Grayish_purple: hsl(292, 16%, 49%);
  --Dark_purple: hsl(292, 42%, 14%);
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}
